<style>
html, body { height: 100%; width: 100%; }
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  margin: 5px;
  padding: 5px;
  background: none;
  color: black;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
  transition: 200ms;
}
.upd { color: #4444dd; border-color: #4444dd; width: 100%; }
.upd:hover { color: white; background-color: #4444dd; }
.return:hover { color: white; background-color: black; }
</style>
<main>
  <h3>Update {{ student.name }}</h3>

  <form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="box upd" type="submit" name="Update Name" value="Update Student"/></br>
  </form>

  <a class="box return" href="{% url 'app:index' %}">Go back to main page</a>
</main>
